.modal.fade(aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" )#modalCancelarSolicitud
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-body.text-center.py-md-5.py-4
                span.text-primary.font-20-md ¿Confirmas cancelar la solicitud?
                .mt-md-3.pt-md-3.mt-2.pt-2.justify-content-md-start.d-flex.d-md-flex.mb-md-2.justify-content-md-center.justify-content-between
                    buttom.btn.btn-outline-tecnohome.ms-md-4.continuar-btn.font-14-xs.min-vw-100 CANCELAR
                    buttom.btn.btn-tecnohome.ms-md-4.continuar-btn.font-14-xs.min-vw-100 CONTINUAR
