.modal.fade(aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" )#modalDetallePrestamo
    .modal-dialog.modal-dialog-centered.modal-lg
        .modal-content.mx-4
            .modal-body.text-start.py-md-5.py-4
                .text-primary.aling-items-center.d-flex.pb-4
                    span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal Detalle del préstamo
                div.bg-light.bg-opacity-50.p-md-5.px-4.py-5
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  INTERESES
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  USO PLATAFORMA
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  VERIFICACION
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  TASA INTERES NOMINAL
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 01 - 05/05/2022
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 02 - 20/05/2022
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 03 - 05/06/2022
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 04 - 20/06/2022
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 05 - 05/07/2022
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                    div.row.mt-md-3.mt-3
                        span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 06 - 20/07/2022
                        span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
