extends ../layouts/_layout_one
block variables

    - var page_datos    = { title: 'crediminuto || Inicio', back: false, cliente:false}
    - var   text_1  =   "Registra a tu cliente para que <br> pueda acceder a ese celular que <br> tanto quiere y en cuotas";
    - var   text_2  =   false;
    - var   text_3  =   "Ten en cuenta que el botón <b class='fw-bold'> “Login Cliente <br> Registrado” </b> únicamente es para un cliente <br class='d-md-block d-none'> que ya<br class='d-md-none d-block'> ha comenzado o se ha registrado<br class='d-md-block d-none'> anteriormente.";
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   'elemento-1.svg';

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal 01. Registross
        .mt-md-5.font-2-vh-md.mt-3-vh.fw-bolder.font-2-vh
            div.text-primary.fw-normal
                | ¡Comencemos!
        .font-2-vh-md.fw-light.font-2-vh   Escribe el número de celular del cliente
        div.mt-4.col-md-7.mt-md-5.pt-md-2.pt-3
            label.form-label.ps-2.ms-1.font-1-5-vh-md NÚMERO CELULAR
            input(type="number", name="tel-number", placeholder="Número de celular de tu cliente").form-control
        .mt-md-5.pt-md-5.mt-2.pt-5.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-primary.btn-lg CLIENTE REGISTRADO
            button(type="submit", disabled).btn.btn-primary.btn-lg.ms-md-4.continuar-btn CONTINUAR
        .mt-md-0.pt-md-0.mt-5.pt-4
            .form-check.mt-5.pt-5
                input#flexCheckDefault.form-check-input(type='checkbox' value=''    checked='' name="term" required)
                label.form-check-label(for='flexCheckDefault').font-1-60-vh-md.mt-1.mt-md-0
                    | Aceptar 
                    a(href="") Términos y condiciones 
            .form-check
                input#flexCheckChecked1.form-check-input(type='checkbox' value=''   checked='' name="policy" required)
                label.form-check-label(for='flexCheckChecked1').font-1-60-vh-md
                    | Aceptar 
                    a(href="") Políticas de Protección al Consumidor
            .form-check
                input#flexCheckChecked2.form-check-input(type='checkbox' value=''   checked='' name="policy-dato" required)
                label.form-check-label(for='flexCheckChecked2').font-1-60-vh-md
                    | Aceptar 
                    a(href="") Políticas de Tratamiento de Datos Personales
block script 
    script(src="js/script-page/1-index.js")