extends ../layouts/_layout_smartv
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>Lorem ipsum TecnoHome</p>";
    - var   text_2  =   "Lorem ipsum dolor sit amet, consectetur  <br class='d-md-none d-block'> adipiscing elit. Etiam ullamcorper molestie <br class='d-md-none d-block'> odio, a aliquet sem suscipit at.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "smartv-elemento-1.svg";

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-3-vh
        .text-primary.aling-items-center.d-flex
            span.font-2-40-vh-md.font-2-50-vh.fw-normal Selección del artículo
        div.mt-4.pt-3.row
            .col-lg-8.col-12
                label(for="marca").form-label.ps-2.ms-1.font-1-5-vh-md MARCA
                select.form-select(name="marca", id="marca")
                    option(value="") Selecciona la marca
                    option(value="1") Marca 1
                    option(value="2") Marca 2
                    option(value="3") Marca 3
            .col-lg-8.col-12.mt-md-4.mt-4
                label(for="artículo").form-label.ps-2.ms-1.font-1-5-vh-md TIPO DE ARTÍCULO
                select.form-select(name="artículo", id="artículo")
                    option(value="") Selecciona el artículo
                    option(value="1") artículo 1
                    option(value="2") artículo 2
                    option(value="3") artículo 3
            .col-lg-8.col-12.mt-md-4.mb-md-4.mt-4
                label(for="modelo").form-label.ps-2.ms-1.font-1-5-vh-md MODELO
                select.form-select(name="modelo", id="modelo")
                    option(value="") Selecciona el modelo
                    option(value="1") modelo 1
                    option(value="2") modelo 2
                    option(value="3") modelo 3
            hr.mt-md-5.col-lg-8.mt-5
            .col-lg-8.col-12.mt-md-5.mt-4
                label.form-label.ps-2.ms-1.font-1-5-vh-md MONTO PARA ACCESORIOS
                input(type="text", name="monto", placeholder="$0.00", data-type='currency').form-control
            .mt-md-5.pt-md-5.mt-3.pt-4.justify-content-md-start.d-flex.d-md-block.mb-md-5.justify-content-md-center.justify-content-between
                a.btn.btn-outline-smartv.btn-lg.continuar-btn.font-14-xs Volver
                button(type="submit").btn.btn-smartv.btn-lg.ms-md-4.continuar-btn.font-14-xs Continuar
block script
    script(src="js/currency-formatter.js")