extends ../layouts/_layout_smartv
block variables
    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:true, imei:false}
    - var   text_1  =   "Recomendación";
    - var   text_2  =   "El préstamo se encuentra ACTIVO <br class='d-md-block d-block'> tu cliente ya puede disfrutar de su smart TV.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "smartv-elemento-10.svg";

block content_right
    form(id="form-enrolar-equipo").pt-6-89-vh-md.pt-2-vh
        .text-primary.text-center.text-md-start.d-md-flex
            img(src="image/smartv/icono-cohete.svg").mx-md-0.mx-auto.img-w-6-vh.img-w-6-vh-md
            div.pl-2-vh.fw-normal.mt-3.mt-md-0.pt-2.lh-base.text-md-start.text-center.font-2-50-vh.font-2-50-vh-md
                | El préstamo ya se encuentra #[br.d-md-none.d-block] ACTIVO! #[br.d-md-block.d-none] Ya puedes entregar el #[br.d-md-none.d-block] smart TV al cliente.
        .mt-5.pt-2.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-smartv.btn-lg.font-1-5-vh.font-1-5-vh-md DETALLE DEL PRÉSTAMO
            button(type="submit").btn.btn-smartv.btn-lg.ms-md-4.continuar-btn FINALIZAR