extends ../layouts/_layout_smartv
block variables

    - var page_datos = { title: 'crediminuto ||Buenas noticias', back: true, cliente:true}
    - var   text_1  =   "¡Vienes muy bien! <br> Ya queda muy poco";
    - var   text_2  =   false;
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "smartv-elemento-2.svg";

block content_right
    form(id="form-datos-personales").pt-6-89-vh-md.pt-4-vh.mb-5
        .text-primary.justify-content-center.d-grid.d-md-flex.justify-content-md-start
            div.pl-1-vh.font-3-vh-md.font-3-vh.fw-normal.mt-4 Estás a punto de recibir el préstamo
        .mt-md-5.font-24-md.font-20-px.mt-3
            div.text-primary.fw-normal
        .text-center.text-md-start.font-2-vh-md.fw-light.font-2-vh #[b.fw-bolder ¡Tu cliente tiene pre-aprobado el crédito, felicítalo! ] #[br.d-md-block.d-none]
            |   Ahora solo queda validar su identidad con 4 preguntas #[br.d-md-block.d-none] que deberá responder a continuación.
        .mt-md-5.pt-md-5.mt-4.pt-3.justify-content-center.d-flex.d-md-block.justify-content-md-between
            button.btn.btn-smartv.btn-lg.continuar-btn.font-14-xs Validar identidad