extends ../layouts/_layout_smartv
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:false}
    - var   text_1  =   "¡Ya casi!";
    - var   text_2  =   "Antes de hacer el registro del equipo es <br class='d-md-block d-block'> importante revisar todos los datos para reconfortar con el cliente.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "smartv-elemento-8.svg";

block content_right
    form(id="form-datos-personales").pt-6-89-vh-md.pt-4-vh
        .text-primary.text-center.text-md-start
            span.font-35-md.font-18-px.fw-normal RESUMEN FINAL
        .mt-md-4.font-24-md.font-20-px.mt-4
            div.text-primary.fw-normal
        .text-md-start.text-center.fw-light.font-2-vh.font-2-vh-md.mt-3.pt-2.pb-4.mb-2 #[b.text-primary ¡Éxito!] Resumen final de la operación
        div.bg-light.bg-opacity-50.p-md-5.px-4.py-5
            div.row
                span.col-md-12.col-12.font-2-50-vh.font-2-50-vh-md   Número de contrato #1234567
            hr.hr
            div.row
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50   MARCA
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  Samsung
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  MODELO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  Galaxy A21 - 128GB
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  MONTO A FINANCIAR
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  FRECUENCIA
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  Semanal
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  PLAZO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  6 cuotas
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  ANTICIPO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $150.000
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  PLAN DE PAGO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  3 cuotas
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  MONTO DE LA CUOTA
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $90.000
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  PRIMER FECHA DE PAGO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  05/05/2022
            hr.hr
            .detalle(style="display:none")
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  INTERESES
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  USO PLATAFORMA
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  VERIFICACION
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  TASA INTERES NOMINAL
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 01 - 05/05/2022
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 02 - 20/05/2022
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 03 - 05/06/2022
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 04 - 20/06/2022
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 05 - 05/07/2022
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
                div.row.mt-md-3.mt-3
                    span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  Cuota 06 - 20/07/2022
                    span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  $XXX.XXX
            div.row.mt-md-4.mt-4
                a(href="").view-datalle.text-smartv
                    img(src="image/smartv/icono-plus.svg").img-w-5-vh.img-w-4-vh-md
                    span.font-12-md.text-smartv.ms-md-2.ms-2    DETALLE DEL CRÉDITO
        .mt-80-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button(type="submit").btn.btn-smartv.btn-lg.ms-md-4.continuar-btn.font-14-xs ENROLAR
block script
    script(src="js/script-page/8-smartv-index.js")