extends ../layouts/_layout_smartv
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:true, phone:true}
    - var   text_1  =   "Registro del equipo";
    - var   text_2  =   "Validar el serial del smart TV en el respaldo del equipo. <br class='d-md-block d-none'> El dispositivo no debe haber sido encendido antes de este paso. ";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "smartv-elemento-9.svg";

block content_right
    form(id="form-enrolar-equipo").pt-50-px-md.pt-40-px.pb-64-px
        .text-primary.aling-items-center.d-flex
            span.font-28-md.font-18-px.fw-normal Registro del equipo
        .font-20-md.font-15-px.fw-light  Ingresa el serial del smart TV SIN encenderlo.
        div.mt-4.col-md-8.pt-10-px-md.pt-10-px
            label.form-label.ps-2.ms-1 Serial del smart TV
            input(type="number", name="imei", placeholder="000000000000000000000000").form-control
        .font-24-md.font-15-px.mt-md-5.mt-4
        .font-20-md.font-15-px.fw-light  Aviso de instalación de APP en el TV
        .mt-80-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button(type="submit").btn.btn-smartv.btn-lg.continuar-btn.font-14-xs CONTINUAR
block script
    script(src="js/script-page/enrolar-equipo.js")