extends ../layouts/_layout_th-sm
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:false}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>¡Empecemos!</p>";
    - var   text_2  =   "Elige la lína de producto que tu cliente quiere <br class='d-md-none d-block'> financiar con CreMinuto.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-0.svg";

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal Para comenzar selecciona la línea de producto
        .mt-md-5.font-2-vh-md.mt-3-vh.fw-bolder.font-2-vh
            div.text-primary.fw-normal
        div.mt-4.pt-4.row
            .col-6.col-md-3.align-items-end.d-flex.justify-content-center
                a(href="#")
                    embed(src="/image/tecnohome/tecnohome-elemento-icon-1.svg", alt="tecnohome-elemento-1")
            .col-6.col-md-3.align-items-end.d-flex.justify-content-center
                a(href="#")
                    embed(src="/image/tecnohome/tecnohome-elemento-icon-2.svg", alt="tecnohome-elemento-2")
            .col-6.col-md-3.align-items-end.d-flex.justify-content-center.mt-md-0.mt-5
                a(href="#")
                    embed(src="/image/tecnohome/tecnohome-elemento-icon-3.svg", alt="tecnohome-elemento-3")
            .col-6.col-md-3.align-items-end.d-flex.justify-content-center.mt-md-0.mt-5
                a(href="#")
                    embed(src="/image/tecnohome/tecnohome-elemento-icon-4.svg", alt="tecnohome-elemento-4")

