extends ../layouts/_layout_tecnohome
block variables
    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>¡Felicitaciones!</p>";
    - var   text_2  =   "Lorem ipsum dolor sit amet, consectetur <br class='d-md-none d-block'> adipiscing elit. Etiam ullamcorper molestie <br class='d-md-none d-block'>odio, a aliquet sem suscipit at.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-10.svg"

block content_right
    form(id="form-enrolar-equipo").pt-6-89-vh-md.pt-2-vh
        .text-primary.aling-items-center.d-flex
            span.font-2-40-vh-md.font-2-50-vh.fw-normal Préstamo activado
        .text-primary.text-center.text-md-start.d-md-flex.mt-5
            img(src="image/icono-cohete-tecnohome.svg").mx-md-0.mx-auto.img-w-6-vh.img-w-6-vh-md
            div.pl-2-vh.fw-normal.mt-3.mt-md-0.pt-2.lh-base.text-md-start.text-center.font-2-50-vh.font-2-50-vh-md
                | El préstamo ya se encuentra #[br.d-md-none.d-block] ACTIVO! #[br.d-md-block.d-none] Ya puedes entregar el #[br.d-md-none.d-block] artículo al cliente.
        .mt-5.pt-2.justify-content-between.d-flex.d-md-block
            a(href="").btn.btn-outline-tecnohome.btn-lg.font-1-5-vh.font-1-5-vh-md DETALLE DEL PRÉSTAMO
            button(type="submit").btn.btn-tecnohome.btn-lg.ms-md-4.continuar-btn FINALIZAR