extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>Recomendación</p>";
    - var   text_2  =   "Recuerdale a tu cliente que con la <b>validación <br class='d-md-none d-block'> de cuenta serán mayores  las posibilidades <br class='d-md-none d-block'> de un cupo más alto son mayores.</b>";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-2.svg";

block content_right
    form(id="form-page-register").pt-6-89-vh-md.pt-3-vh
        .text-primary.aling-items-center.d-flex
            span.font-2-40-vh-md.font-2-50-vh.fw-normal Selecciona el Banco
        .font-2-vh-md.fw-light.font-2-vh.mt-md-3   Por favor escribe el número de cédula de la persona únicamente <br class='d-md-block d-none'> si ya ha sido registrado en otra oportunidad.
        div.mt-4.pt-3.row
            .col-lg-8.col-12
                label(for="banco").form-label.ps-2.ms-1.font-1-5-vh-md BANCO
                select.form-select(name="banco", id="banco")
                    option(value="") Selecciona la banco
                    option(value="1") Banco 1
                    option(value="2") Banco 2
                    option(value="3") Banco 3
            .col-lg-8.col-12.mt-md-4.mt-4
                label(for="artículo").form-label.ps-2.ms-1.font-1-5-vh-md VALIDACIÓN
                select.form-select(name="artículo", id="artículo")
                    option(value="") Selecciona el artículo
                    option(value="1") artículo 1
                    option(value="2") artículo 2
                    option(value="3") artículo 3
            .mt-md-5.pt-md-5.mt-3.pt-4.justify-content-md-start.d-flex.d-md-block.mb-md-5.justify-content-md-center.justify-content-between
                a.btn.btn-outline-tecnohome.btn-lg.continuar-btn.font-14-xs Volver
                button(type="submit").btn.btn-tecnohome.btn-lg.ms-md-4.continuar-btn.font-14-xs Continuar
block script
    script(src="js/currency-formatter.js")