extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>Recomendación</p>";
    - var   text_2  =   "Recuerdale a tu cliente que con la <b>validación <br class='d-md-none d-block'> de cuenta serán mayores  las posibilidades <br class='d-md-none d-block'> de un cupo más alto son mayores.</b>";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-3.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-md-flex.d-grid.align-items-center.pe-md-5.col-md-9.justify-content-md-start.justify-content-center.pt-1
            img(src="image/icono-banco-tecnohome.svg").img-w-8-vh.img-w-7-vh-md.mx-md-0.mx-auto
            .ps-md-4.mt-md-2.mt-4
                .fw-normal.font-3-vh.font-3-vh-md Validación con cuenta banco
        .font-2-vh-md.fw-light.font-2-vh.text-md-start.text-center.fw-light.mt-4
            p Con un breve proceso de verificación de banco podremos validar la identidad del #[br.d-md-block.d-none] cliente, te recomendamos indicarle que realice el proceso con una cuenta bancaria a su #[br.d-md-none.d-block] nombre.
            p Hemos enviado un link al número de teléfono: #[b XXXXXXXXXX] para validar con cuenta #[br.d-md-block.d-none] bancaria. #[a(href="").text-tecnohome O puede hacer click aca]
            div.mt-md-3.mt-2 #[a(href="").text-tecnohome Ver privacidad]
        .d-flex.d-md-block.justify-content-md-between.justify-content-center.mt-5.pt-5.mt-md-4
            button(type="submit").btn.btn-tecnohome.btn-lg.mt-4 VALIDAR IDENTIDAD