extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>Recomendación</p>";
    - var   text_2  =   "Recuerdale a tu cliente que con la <b>validación <br class='d-md-none d-block'> de cuenta serán mayores  las posibilidades <br class='d-md-none d-block'> de un cupo más alto son mayores.</b>";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-4.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-md-flex.d-grid.align-items-center.pe-md-5.col-md-9.justify-content-md-start.justify-content-center.pt-1
            img(src="image/icono-error-2-tecnohome.svg").mx-md-0.mx-auto.img-w-8-vh.img-w-8-vh-md
            .pl-2-vh.mt-md-0.mt-4
                .fw-normal.text-center.font-3-vh.font-3-vh-md.text-md-start ¡Lo sentimos!, no pudimos validar<br class='d-md-block d-none'> la cuenta bancaria de tu cliente
        .text-md-start.text-center.fw-light.font-2-vh.font-2-vh-md.mt-md-5.mt-4
            | Sí la validación no fue exitosa, puedes ofrecerle a tu cliente #[br.d-md-block.d-none] la opción de subir un extracto bancario.
        .mt-md-5.pt-md-5.mt-3.pt-4.justify-content-md-start.d-flex.d-md-block.mb-md-5.justify-content-md-center.justify-content-between
            a.btn.btn-outline-tecnohome.btn-lg.continuar-btn.font-14-xs SUBIR EXTRACTO
            a(data-bs-toggle="modal" data-bs-target="#modalCancelarSolicitud" role="button").btn.btn-tecnohome.btn-lg.ms-md-4.continuar-btn.font-14-xs CANCELAR SOLICITUD
    include ../components/_cancelar_solicitud