extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "Recomendación";
    - var text_2    = "<p class='mb-3 mt-2 my-md-0'>Antes de validar revisa que el extracto <br class='d-md-block d-none'>cumpla con estos 3 puntos</p>";
    - var text_3    = "<b class='lh-1 d-md-block d-none'>Recuerda que la validación puede <br class='d-md-block d-none'> demorar algunos segundos.</b>";
    - var   ol      =   [ "La imagen debe ser nítida.", "El nombre del titular debe ser legible.", "La información del documento debe ser legible."];;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-5.svg";

block content_right
    form(id="upload-estracto").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal Subir extracto bancario
        label(for="capture-camera").aling-items-center.d-flex.align-items-center.pe-5.col-md-9.mt-4.pt-3.pb-3
            a(data-action="none-click", data-click="#capture-camera" href="")
                img(src="image/icono-extracto-tecnohome.svg").img-w-7-vh.img-w-7-vh-md
            span.pl-2-vh.font-2-vh-md.fw-light.font-2-vh Ingresar un servicio o extracto bancario <br class="d-md-block d-none"> que esté a nombre del cliente en<br class="d-md-block d-none"> formato JPG, PNG o PDF.
        a(data-action="none-click", data-click="#capture-camera" href="").font-1-5-vh.font-1-5-vh-md.text-tecnohome Por favor haga click para cargar un archivo
        .text-start.fw-light.font-2-vh.font-2-vh-md.mt-md-3.mt-2
            | Recuerdale al cliente que la cuenta bancaria debe tener #[br.d-md-block.d-none] movimientos transaccionales en los ultimos 3 meses.
        input(type="file", name="estracto").d-none#capture-camera
        img(src="").d-none#capture-preview.img-w-43-vh.mt-5.img-w-43-vh-md.mx-auto.d-block.mx-md-0
        div#pdf-name.font-2-vh.font-2-vh-md.text-primary.mt-md-4.d-none
        div.text-warning#foto_invalida.d-none.mt-3.ps-4
        .mt-md-5.pt-md-5.mt-5.pt-4.d-flex.d-md-block.justify-content-between
            a(href="").btn.btn-outline-tecnohome.btn-lg.font-14-xs.d-none#btn-option VOLVAR A CARGAR
            button(type="submit").btn.btn-tecnohome.btn-lg.font-14-xs.continuar-btn#btn-submit VALIDAR
block script
    script(src="js/script-page/5-tecnohome-index.js")