extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Usuario registrado', back: true, cliente:true}
    - var   text_1  =   "<p class='mb-2 mb-md-2'>Recomendación</p>";
    - var   text_2  =   "Recuerdale a tu cliente que con la <b>validación <br class='d-md-none d-block'> de cuenta serán mayores  las posibilidades <br class='d-md-none d-block'> de un cupo más alto son mayores.</b>";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-6.svg";

block content_right
    form(id="upload-selfie").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            span.font-2-40-vh-md.font-2-50-vh.fw-normal Suscripción Nequi
        .text-md-start.text-center.fw-light.font-2-vh.font-2-vh-md.mt-md-5.mt-4
            | Indícale a tu cliente que debe ingresar a su Nequi y le #[br.d-md-block.d-none] llegará una solicitud de suscripción que debe aceptar.
        div.text-primary.mt-md-3.mt-3.text-center.text-md-start#time-code
        .mt-md-3.pt-md-5.mt-3.pt-4.justify-content-md-start.d-flex.d-md-block.mb-md-5.justify-content-md-center.justify-content-between
            a(href="").btn.btn-tecnohome.btn-lg.continuar-btn.font-14-xs#sendRequest ENVIAR SOLICITUD
block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js")
    script(src="js/script-page/6-tecnohome-index.js")