extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Subir foto selfie', back: true, cliente:true}
    - var   text_1  =   "Recomendación";
    - var   text_2  = "En caso de que el cliente quiera<br class='d-md-block d-block'> modificar la frecuencia o no este<br class='d-md-block d-block'> de acuerdo con el monto de la cuota puede<br class='d-md-block d-block'> utilizar el botón “Atrás”.";
    - var   text_3  = false;
    - var   ol      = false;
    - var   ol2     = false;
    - var   img     = "tecnohome-elemento-8.svg";

block content_right
    form(id="form-datos-personales").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            i.fa-solid.fa-circle-check.font-3-vh-md.font-3-vh.mt-1.mt-md-1
            span.pl-1-vh.font-2-40-vh-md.font-2-50-vh.fw-normal Solicitud aprobada
        .mt-md-4.font-24-md.font-20-px.mt-4
            div.text-primary.fw-normal
        .text-md-start.text-center.fw-light.font-2-vh.font-2-vh-md.mt-3.pt-2.pb-4.mb-2 Tu cliente tiene aprobado un préstamo, felicitalo
        div.bg-light.bg-opacity-50.p-md-5.px-4.py-5
            div.row
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50   MARCA
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  XXXXXX
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  PRODUCTO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  XXXXXX
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  PRECIO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  XXXXXX
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  MONTO A FINANCIAR
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  XXXXXX
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  FRECUENCIA
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  MENSAUAL
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  PLAZO
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  XXXXXX
            div.row.mt-md-3.mt-3
                span.col-md-4.col-6.font-1-80-vh.font-1-80-vh-md.text-black-50  MONTO DE LA CUOTA
                span.col-md-6.col-6.font-1-80-vh.font-1-80-vh-md  XXXXXX
            hr.hr
            div.row.mt-md-4.mt-4
                a(data-bs-toggle="modal" data-bs-target="#modalDetallePrestamo" role="button").text-tecnohome
                    span.ms-md-2.ms-2    Ver detalle del préstamo
        .mt-80-px-md.mt-60-px.justify-content-center.d-flex.d-md-block.justify-content-md-start.justify-content-center
            button(type="submit").btn.btn-tecnohome.btn-lg.continuar-btn.font-14-xs CONTINUAR
    include ../components/_detalle_prestamo
