extends ../layouts/_layout_tecnohome
block variables

    - var page_datos = { title: 'crediminuto || Envío de SMS', back: true, cliente:false}
    - var   text_1  =   "<p class='mb-2 mb-md-0'>Recomendación</p>";
    - var   text_2  =   "Es importante para recibir el SMS al <br> momento que el número esté activo, con <br>  buena señal y a mano.";
    - var   text_3  =   false;
    - var   ol      =   false;
    - var   ol2     =   false;
    - var   img     =   "tecnohome-elemento-9.svg"

block content_right
    form(id="form-validate-code").pt-6-89-vh-md.pt-4-vh
        .text-primary.aling-items-center.d-flex
            span.font-2-40-vh-md.font-2-50-vh.fw-normal Descarga APP Crediminuto
        label(for="capture-camera").aling-items-center.d-flex.align-items-center.pe-5.col-md-9.mt-4.pt-3.pb-3
            a(data-action="none-click", data-click="#capture-camera" href="")
                img(src="image/icono-extracto-tecnohome.svg").img-w-7-vh.img-w-7-vh-md
            span.pl-2-vh.font-2-vh-md.fw-light.font-2-vh Escanea el siguiente código QR y <br class="d-md-block d-none"> descarga el APP Crediminuto
        .text-start.fw-light.font-2-vh.font-2-vh-md.mt-md-3.mt-2
            | Una vez descargada la APP ingresa el #[br.d-md-block.d-none] siguiente cod OTP.
        input(type="file", name="estracto").d-none#capture-camera
        div.col-md-10.col-10.mx-auto.d-flex.mt-5.justify-content-center.justify-content-md-start.align-items-center.d-md-inline-flex
            div.input-group
                input(type="text", name="code_1", data-type="number-limit",   placeholder="0" required, maxlength="1").form-control.input-code.me-md-3.me-3.text-center
                input(type="text", name="code_2", data-type="number-limit",   placeholder="0" required, maxlength="1").form-control.input-code.me-md-3.me-3.text-center
                input(type="text", name="code_3", data-type="number-limit",   placeholder="0" required, maxlength="1").form-control.input-code.me-md-3.me-3.text-center
                input(type="text", name="code_4", data-type="number-limit",   placeholder="0" required, maxlength="1").form-control.input-code.text-center
            div#check-code.ms-md-4.d-none.text-center.text-md-start
                i.fa-solid.fa-check.font-40-md.text-success
        div#error
        div.text-primary.mt-md-3.mt-3.text-center.text-md-start#time-code
        .mt-md-5.pt-md-4.pt-5.mt-3.justify-content-between.d-flex.d-md-block.justify-content-md-between
            button(disabled).btn.btn-outline-tecnohome.btn-lg.font-14-xs#resend-code Omitir
            button(type="submit", disabled).btn.btn-tecnohome.btn-lg.ms-md-4.continuar-btn.font-14-xs Continuar
block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js")
    script(src="js/script-page/11-tecnohome-index.js")
    cript(src="js/script-page/5-tecnohome-index.js")